* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    display: flexbox;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    letter-spacing: 4px;
}

.menu {
    margin-top: 3%;
}

.logo img{
    width: 250px;
}

.imagem img {
    width: 300px;
    margin-bottom: 20px;
}

h2, h3{
    color: yellow;
}

input{
    width: 300px;
    padding: 3px;
    margin: 20px 0 20px 0;
    font-size: 20px;
}

input:focus {
    box-shadow: 1px 1px 1px 1px yellow;
    outline: 0;
}

button {
    font-size: 20px;
    width: 300px;
    padding: 3px;
    cursor: pointer;
    background-color: white;
}

button:hover {
    background-color: rgb(195, 195, 195);
}