* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    display: flexbox;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    letter-spacing: 3px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid yellow;
    text-align: left;
    margin-top: 25px;
}

h3{
    margin-top: 30px;
    background-color: yellow;
    color: black;
    padding: 20px;
}

h4{
    margin-top: 20px;
    color: rgb(146, 0, 0);
}


.img {
    width: 120px;
}